In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

import pandas as pd

import math
import re, os, csv, sys, time, fnmatch, shutil, glob
from os import listdir
from os.path import isfile, join
from os import chdir, getcwd, path
import json, random, argparse
import io, pickle, codecs
import networkx as nx, builtins
from shutil import copyfile
import xlrd
import xlwings as xw
import numpy as np
import seaborn as sns
import pyodbc

%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise_distances_argmin_min
from sklearn.datasets.samples_generator import make_blobs
from sklearn import preprocessing
from kmodes.kmodes import KModes

from matplotlib.pyplot import figure    
from mpl_toolkits.mplot3d import Axes3D
plt.rcParams['figure.figsize'] = (10, 5)

from matplotlib import rcParams
rcParams['font.family'] = 'sans-serif'
rcParams['font.sans-serif'] = ['Tahoma']

C:\Users\Inteligo\anaconda3.2\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.datasets.samples_generator module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

In [3]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'ODBC Driver 13 for SQL Server',
 'ODBC Driver 11 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [79]:
# Specifying the ODBC driver, server name, database, etc. directly
cnxn = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};SERVER=172.17.6.184;DATABASE=GDI_LIVE;UID=USR_DO;PWD=Inteligo2021')

# Using a DSN, but providing a password as well
# cnxn = pyodbc.connect('DSN=test;PWD=password')

# Create a cursor from the connection
cursor = cnxn.cursor()

In [6]:
qTipoIngreso = ('''SELECT *
  FROM [172.18.10.62].[DWHINTELIGO].[dbo].[Lk_TipoIngreso]''')

In [7]:
dfTipoIngreso = pd.read_sql(qTipoIngreso, cnxn)

In [9]:
# PL 51000 Interest Income por cliente, el monto en cliente cero es poco
qIngIntPL51000 = ('''SELECT TbClientes.Cod_Cliente, LEFT(TbIngreso.Id_Dia,4) AS Anho, LEFT(RIGHT(TbIngreso.Id_Dia,4),2) AS Mes, TbIngreso.*
                            FROM
                            [172.18.10.62].[DWHINTELIGO].[dbo].[Ft_Ingreso] as TbIngreso,
                            [172.18.10.62].[DWHINTELIGO].[dbo].[Lk_Cliente] as TbClientes
                            WHERE
                                (TbIngreso.Id_Cliente = TbClientes.Id_Cliente and TbIngreso.id_ComponenteIngreso = 6
                                 and LEFT(TbIngreso.Id_Dia,4) = 2020)
                            ORDER BY
                                TbClientes.Cod_Cliente ASC''')

In [10]:
dfIngIntPL51000 = pd.read_sql(qIngIntPL51000, cnxn)

In [82]:
cnxn = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};SERVER=172.17.6.184;DATABASE=GDI_LIVE;UID=USR_DO;PWD=Inteligo2021')
cursor = cnxn.cursor()

In [83]:
# PL 51997 Interest Income - Overdraft por sector
qIngIntPL51997 = ('''SELECT TbClientes.Cod_Cliente, LEFT(TbIngreso.Id_Dia,4) AS Anho, LEFT(RIGHT(TbIngreso.Id_Dia,4),2) AS Mes, TbIngreso.*
                            FROM
                            [172.18.10.62].[DWHINTELIGO].[dbo].[Ft_Ingreso] as TbIngreso,
                            [172.18.10.62].[DWHINTELIGO].[dbo].[Lk_Cliente] as TbClientes
                            WHERE
                                (TbIngreso.Id_Cliente = TbClientes.Id_Cliente and TbIngreso.id_ComponenteIngreso = 17
                                 and LEFT(TbIngreso.Id_Dia,4) = 2020)
                            ORDER BY
                                TbClientes.Cod_Cliente ASC''')

In [84]:
dfIngIntPL51997 = pd.read_sql(qIngIntPL51997, cnxn)

In [96]:
# table money market for pl 51997

In [ ]:
cnxn = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};SERVER=172.17.6.184;DATABASE=GDI_LIVE;UID=USR_DO;PWD=Inteligo2021')
cursor = cnxn.cursor()

### PLs grouped by costumers

In [75]:
# run from here down

###### PL ingreso por interes 51000 - Interest Income

In [71]:
dfIngIntPL51000ByCli = dfIngIntPL51000.groupby(['Cod_Cliente', 'Mes'], as_index=False).agg({'Id_Cliente': 'first','Ingreso': 'sum',})

In [72]:
dfIngIntPL51000ByCli = dfIngIntPL51000ByCli.pivot_table(index=['Cod_Cliente'], columns='Mes', values='Ingreso').reset_index()

In [73]:
dfIngIntPL51000ByCli['num_meses_ing_51000'] = dfIngIntPL51000ByCli.apply(lambda x: x.iloc[1:] .count(), axis=1)
dfIngIntPL51000ByCli['total_51000'] = dfIngIntPL51000ByCli.apply(lambda x: x.iloc[1:-1] .sum(), axis=1)

In [74]:
dfIngIntPL51000ByCli

Mes,Cod_Cliente,01,02,03,04,05,06,07,08,09,10,11,12,num_meses_ing_51000,total_51000
0,0,34738.30,34064.65,42730.66,53605.79,111911.52,49291.54,22026.93,55074.52,217580.76,13423.71,58208.68,218764.20,12,911421.26
1,10017,422.80,395.52,422.80,405.80,319.46,271.07,267.79,267.79,259.16,282.79,334.16,345.29,12,3994.43
2,10025,78759.38,73678.13,67467.72,59281.25,80257.30,88714.54,67323.96,61257.30,59281.25,61257.30,59281.25,63394.59,12,819953.97
3,10031,18241.87,17146.71,14647.90,11875.15,12251.98,11856.79,12252.07,12252.01,11856.77,12252.07,11856.82,12252.01,12,158742.15
4,10049,NaN,NaN,229.17,458.34,427.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1115.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,104228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,235.28,331.53,320.84,331.53,4,1219.18
561,104263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,427.78,777.78,1322.24,1808.34,4,4336.14
562,104269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2625.00,3875.00,2,6500.00
563,104333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.25,1,81.25
564,104336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.89,241.12,2,280.01

###### PL ingreso por intereses 51997 Interest Income - Overdraft [por sector]

In [92]:
dfIngIntPL51997ByCli = dfIngIntPL51997.groupby(['Cod_Cliente', 'Mes'], as_index=False).agg({'Id_Cliente': 'first','Ingreso': 'sum',})

In [93]:
dfIngIntPL51997ByCli = dfIngIntPL51997ByCli.pivot_table(index=['Cod_Cliente'], columns='Mes', values='Ingreso').reset_index()

In [94]:
dfIngIntPL51997ByCli['num_meses_ing_51997'] = dfIngIntPL51997ByCli.apply(lambda x: x.iloc[1:] .count(), axis=1)
dfIngIntPL51997ByCli['total_51997'] = dfIngIntPL51997ByCli.apply(lambda x: x.iloc[1:-1] .sum(), axis=1)

In [95]:
dfIngIntPL51997ByCli

Mes,Cod_Cliente,01,02,03,04,05,06,07,08,09,10,11,12,num_meses_ing_51997,total_51997
0,0,-9875.08,-5852.15,-9912.51,-3777.62,-4245.6,-6197.33,-2571.59,-4938.85,-1744.29,-2773.04,-2060.0,-5765.25,12,-59713.31